html {margin: 0; display: grid; min-height: 100%}
@media all {
  body:where([data-ws-component="Body"]) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  div:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  address:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  article:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  aside:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  figure:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  footer:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  header:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  main:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  nav:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  section:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  img:where([data-ws-component="Image"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block
  }
  h1:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h4:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h5:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h6:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div:where([data-ws-component="Text"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em
  }
  a:where([data-ws-component="Link"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block
  }
  p:where([data-ws-component="Paragraph"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  b:where([data-ws-component="Bold"]) {
    font-weight: 700;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
  }
}
@media all {
  [data-ws-id="bsfj-Ov9S4dgAo-AB2EFF"] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 16px
  }
  [data-ws-id="to0zMflfOQqflszBdiqc9"] {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: rgba(99, 23, 255, 1);
    display: flex;
    width: auto;
    min-width: 250px;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(76deg,#6201FF 4.73%,#9849FF 98.1%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgba(255, 255, 255, 1)
  }
  [data-ws-id="wENWzSvA1Pvv9DZfKtkHw"] {
    display: flex;
    flex-direction: column
  }
  [data-ws-id="pc05TXxO_SLeuO_2N_pvC"] {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  [data-ws-id="MFVzv4XIQkRxgXR8zMgz7"] {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1)
  }
  [data-ws-id="qpq7l4ccHp67ptw0hFpMA"] {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgba(75, 85, 99, 1)
  }
  [data-ws-id="ow8D1iL1-lT4rovBGDiz0"] {
    display: flex;
    justify-content: space-between
  }
  [data-ws-id="hjEjwP6yHiu5sfkTq9_pS"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  [data-ws-id="wrnIn02XZdInL3LkPelKy"] {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    object-fit: cover
  }
  [data-ws-id="wCUO9j-jJCZcLQg5aDVWj"] {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 1)
  }
  [data-ws-id="xihPp8AX2t1ugdQnX2eoS"] {
    color: rgba(75, 85, 99, 1)
  }
  [data-ws-id="-NQER_GjrwfAxctim07nA"] {
    color: rgba(59, 130, 246, 1)
  }
  [data-ws-id="jANgzGBLWQXV8p9nEDbRr"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  [data-ws-id="KAyzzbdnZWGqkCV5A6g2n"] {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    object-fit: cover
  }
  [data-ws-id="Q7jG32qH0-Ht7fUPcnbG6"] {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 1)
  }
  [data-ws-id="comxlrGHYQU6OTaLF2hml"] {
    color: rgba(75, 85, 99, 1)
  }
  [data-ws-id="pWgnPT21awrswdF-d0gLG"] {
    color: rgba(59, 130, 246, 1)
  }
  [data-ws-id="rUlUPKc8QaCOKvxI7OAbE"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  [data-ws-id="3i7S3qfsWyIiuiyaR7BNp"] {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    object-fit: cover
  }
  [data-ws-id="o_zgCJOIp1MoNCwpkLMsl"] {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 1)
  }
  [data-ws-id="B93mIL8MGnizacKLVE7Gn"] {
    color: rgba(75, 85, 99, 1)
  }
  [data-ws-id="CyKUko4Nqn8NSxJvb0i24"] {
    color: rgba(59, 130, 246, 1)
  }
  [data-ws-id="FEXJvFQ5Z8Wj5MpLkZaZ1"] {
    position: relative;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(133deg,rgba(255,255,255,0.65) 9.36%,rgba(255,255,255,0.06) 104.42%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  [data-ws-id="7gdBwu3yKuUZ2nm42pGDn"] {
    height: fit-content
  }
  [data-ws-id="FlxYh3mjAzo5zwK64FYbQ"] {
    font-size: 14px
  }
  [data-ws-id="GeFhq0AURqdhKCNNlreby"] {
    font-size: 12px
  }
  [data-ws-id="HY-Q9CE2YzismzGfMsPS6"] {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: rgba(99, 23, 255, 1);
    display: flex;
    width: auto;
    min-width: 250px;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(76deg,#6201FF 4.73%,#9849FF 98.1%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgba(255, 255, 255, 1)
  }
  [data-ws-id="WPPbAudve_CpuGfOd3Cwu"] {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px
  }
  [data-ws-id="QItzzEa6MPyeCOmP-aWsh"] {
    position: relative;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(133deg,rgba(255,255,255,0.65) 9.36%,rgba(255,255,255,0.06) 104.42%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  [data-ws-id="CMWzgTUCd5wu5cYgw9Qi5"] {
    height: fit-content
  }
  [data-ws-id="ozKmRy31ahKcmXaP4RkZO"] {
    font-size: 14px
  }
  [data-ws-id="iBmoU8Th7AZbOYQrVVif8"] {
    font-size: 12px
  }
  [data-ws-id="KvVw4ZSqSUJPnYKENYZdD"] {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: rgba(99, 23, 255, 1);
    display: flex;
    width: auto;
    min-width: 250px;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(76deg,#6201FF 4.73%,#9849FF 98.1%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgba(255, 255, 255, 1)
  }
  [data-ws-id="ygdMET686TTz2yUVFAvEk"] {
    position: relative;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(133deg,rgba(255,255,255,0.65) 9.36%,rgba(255,255,255,0.06) 104.42%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  [data-ws-id="fbbIWe1bmPRbJuWEwHbZJ"] {
    height: fit-content
  }
  [data-ws-id="erFo8COZ_glKwN073AFIC"] {
    font-size: 14px
  }
  [data-ws-id="CRSLmuT__-u8onSgNlJUZ"] {
    font-size: 12px
  }
  [data-ws-id="5gsigEcOY_-7EEbTGL_ZU"] {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: rgba(99, 23, 255, 1);
    display: flex;
    width: auto;
    min-width: 250px;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(76deg,#6201FF 4.73%,#9849FF 98.1%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgba(255, 255, 255, 1)
  }
  [data-ws-id="hT-9MvovEmwGlGzDPzDxb"] {
    position: relative;
    background-attachment: scroll;
    -webkit-background-clip: border-box;
    background-blend-mode: normal;
    background-image: linear-gradient(133deg,rgba(255,255,255,0.65) 9.36%,rgba(255,255,255,0.06) 104.42%);
    background-origin: padding-box;
    background-position: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  [data-ws-id="4VCXnAS8QQAwa2_dHA1P7"] {
    height: fit-content
  }
  [data-ws-id="ao6HOCnZdcs2Jczn291NV"] {
    font-size: 14px
  }
  [data-ws-id="NuLLWk7Q9yjN435MsIlhJ"] {
    font-size: 12px
  }
  [data-ws-id="dUV_Q11tljBmnL7YOr6c7"] {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    object-fit: cover;
    object-position: center center
  }
  [data-ws-id="HR9YW8PFwo9pHq8oomCJF"] {
    display: flex
  }
  [data-ws-id="SXeFN9bFTlp-bYwuljs2U"] {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px
  }
  [data-ws-id="SXeFN9bFTlp-bYwuljs2U"]:hover {
    width: 120%;
    height: 120%
  }
}